<ion-header>
  <ion-toolbar>
    <ion-title>Select available dates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>From:</ion-label>
    <ion-datetime [(ngModel)]="selectedFrom" displayFormat="DD MMM YYYY" placeholder="Select Date" max="2030"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>To:</ion-label>
    <ion-datetime [(ngModel)]="selectedTo" displayFormat="DD MMM YYYY" placeholder="Select Date" max="2030"></ion-datetime>
  </ion-item>
  <ion-button (click)="dismiss('cancel')">Cancel</ion-button>
  <ion-button (click)="dismiss('ok')">OK</ion-button>
</ion-content>
