<ion-header>
  <ion-toolbar>
    <ion-title>{{roomData.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" color="medium" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="user.isAdmin" (click)="deleteRoom()">Delete...</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-no-padding">
  <app-room-card class="room-card" [user]="user" [isAdmin]="true" [roomData]="roomData" [compactView]="false">
  </app-room-card>
</ion-content>

<ion-footer transparent class="details-footer">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="book-button" (click)="showOnMap()">🌎 Show map</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="book-button" (click)="showDateModal()">🗓 Book room!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>