<ion-card *ngIf="isAdmin || roomData.available">
  <div class="image-container">

    <img class="card-image" [src]="roomData.imageUrl" />
  </div>
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size="7">
          <ion-card-subtitle *ngIf="compactView">{{roomData.title}}</ion-card-subtitle>
          <ion-card-subtitle class="ion-no-padding">{{roomData.address}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="5">
          <ion-card-subtitle class="left">Capacity: {{roomData.capacity}}</ion-card-subtitle>
          <ion-card-subtitle class="left">Rating: {{roomData.rating | arrayAverage}} 
            <ion-icon color="primary" name="star"></ion-icon>  </ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <div *ngIf="!compactView">
    <ion-card-content>
      <ion-label>{{roomData.description}}</ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label *ngIf="roomData.available">✔︎ Available <br> from 
        {{roomData.fromDate | date:'dd MMM yyyy'}}
        to {{roomData.toDate | date: 'dd MMM yyyy'}}
      </ion-label>
      <ion-label *ngIf="!roomData.available">🛑 Not Available at the moment.</ion-label>
    </ion-card-content>
  </div>

</ion-card>