.right {
    text-align: right;
}

.left {
    text-align: left;
}

.image-container {
    overflow: hidden;
    height: 30vh;
}

.card-image {
    display: block;
    width: 100%;
    height: auto;
}

