<ion-card *ngIf="roomData.available">
  <div class="image-container">

    <img class="card-image" [src]="roomData.imageUrl" />
  </div>
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-subtitle>{{roomData.title}}</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-subtitle class="right">Capacity: {{roomData.capacity}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!compactView">
        <ion-col>
          <ion-label class="ion-no-padding">{{roomData.address}}</ion-label>
        </ion-col>
        <ion-col class="right">
          <ion-label class="ion-no-padding" (click)="like()">{{roomData.likes}} 👍 </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <div *ngIf="!compactView">
    <ion-card-content>
      <ion-label>{{roomData.description}}</ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label *ngIf="roomData.available">✔︎ Available <br> from 
        {{roomData.fromDate | date:'dd MMM yyyy'}}
        to {{roomData.toDate | date: 'dd MMM yyyy'}}
      </ion-label>
    </ion-card-content>
  </div>

</ion-card>